
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reservation Confirmation</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Reservation Confirmation</h1>
<p>Your reservation has been successfully processed.</p>
<ul>
<li>Name: {{ reservation.name }}</li>
<li>Email: {{ reservation.email }}</li>
<li>Phone Number: {{ reservation.phone }}</li>
<li>Date: {{ reservation.date }}</li>
<li>Time: {{ reservation.time }}</li>
<li>Group Size: {{ reservation.group_size }}</li>
</ul>
</div>
</body>
</html>

